@mixin sg-font-mixins {
  section {
    @include flexbox($wrap: wrap);

    article {
      @include hide-title;
      @include flex-item;
      @include flexbox;
      padding-right: $lem;

      figure {
        @include flex-item;
        min-width: $lem * 5; // simple 'width' doesn't works on mobiles
        border: 1px solid;
        padding: $lem;
        
        // center figcaption
        @include flexbox($justify-content: center, $align-items: center);
        
        figcaption {
          @include flex-item;
        }
      }

      @for $i from 1 through length($font-mixins) {
        &:nth-of-type(#{$i}) {
          figure {
            figcaption {
              @include font(nth($font-mixins, $i));
            }
          }
        }
      }

      aside {
        @include flex-item;
        @include flexbox($direction: column);

        p {
          @include flex-item;
          padding: 0 $lem $lem;

          &:last-of-type {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}