@mixin sg-highlight {
  @include sg-syntax;
  
  .highlight {
    background: black;
    color: white;
    padding: $lem;

    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: smaller;
    
    pre {
      overflow: auto;
      padding-bottom: $lem;
    }
  }
}