
<section>
  <h3>Font mixins</h3>
  {% for font in page.fonts %}
    {% for mixin in font.mixins %}
      <article>
        <h3>{{ mixin.name }}</h3>
        
        <figure>
          {% if mixin.name == "Body" %}
            <figcaption>
              This is a body text
            </figcaption>
          {% else %}
            <figcaption>
              This is a title
            </figcaption>
          {% endif %}
        </figure>
        
        <aside>
          <h3>Description</h3>
          <ul>
            {% capture properties %}
              {% for property in mixin.properties %}
                {{ property.name }}: {{ property.value }},
              {% endfor %}
            {% endcapture %}
            {% assign properties = properties | split: ',' %}
            {{ properties | join: '</li>' | prepend: '<li>' }}
          </ul>
        </aside>
      </article>
    {% endfor %}
  {% endfor %}
</section>