---
layout: styleguide
title: Colors
order: a
category: atoms
scss: "colors.scss"
items:
  - name: white
    value: whitey
    description: Used for the site background
  - name: black
    value: "hsla(170, 45%, 5%, 1)"
    description: Used for text color
---


{% capture description %}
  <p>
    All the colors used by the site.
  </p>
{% endcapture %}


{% capture example %}
  <section>
    <h3>Color swatches</h3>
    {% for item in page.items %}
      <article>
        <h3>{{ item.name }}</h3>
        <figure>&nbsp;</figure>
        <aside>
          <h3>Description</h3>
          <p>{{ item.name }}</p>
          <p>{{ item.value }}</p>
          <p>{{ item.description }}</p>
        </aside>
      </article>
    {% endfor %}
  </section>
{% endcapture %}



{% capture technical %}
  <p>
    This is a short technical description
  </p>
{% endcapture %}




{% include styleguide/sg-styleguide-entry.html description=description example=example technical=technical %}
