---
layout: styleguide
title: Colors
order: a
category: atoms
scss: "colors.scss"
comments:
  - All color codes
  - All color codes collected in a list
  - All color pairs
  - All color pairs collected in a list
colors:
  - name: white
    value: "hsla(0, 0, 100%, 1)"
    description: background color
  - name: black
    value: "hsla(170, 45%, 5%, 1)"
    description: text color
pairs:
  - name: Black on white
    foreground: black
    background: white
    contrast: AAA
  - name: White on black
    foreground: white
    background: black
    contrast: AAA
---


<section id="{% include site/atoms/classname.html title=page.title %}" class="styleguide-entry">
  <h3>{{ page.title }}</h3>
  
  <article class="description">
    <h3>Description</h3>
    
    <p>
      All colors used by the site.
    </p>
  </article>
  
  
  <article class="example color-swatches">
    <h3>Example for color swatches</h3>
    
    {% include styleguide/molecules/sg-color-swatches.html %}
  </article>
  
  
  <article class="text">
    <h3>Usage</h3>
    
    <p>
      Colors do not exists alone. They are forming color pairs: a foreground color on a background color.
    </p>
    
    <p>
      Colors pairs have contrast. Better the contrast better the readability and perception. 
    </p>
    
    <p>
      Web standards suggest high enough color contrast ratios to make websites readable for people with color vision deficiency.  
    </p>
  </article>
  
  
  <article class="text">
    <h3>Color pairs</h3>
    
    <p>
      This site uses color pairs accessible for everybody. 
      With a {% include site/atoms/link.html url="http://leaverou.github.io/contrast-ratio/" title="contrast ratio checker" %} we make sure all pairings pass the AAA or AA levels for any text.
    </p>
  </article>
  
  
  <article class="example color-pairs">
    <h3>Example for color pairs</h3>
    
    {% include styleguide/molecules/sg-color-pairs.html %}
  </article>
  
  {% include styleguide/molecules/sg-code.html %}
</section>
