---
layout: styleguide
title: Flexbox
order: d
category: atoms
scss: "flex/flexbox.scss"
related:
  - name: Flexbox direction
    description: Align flex items left to right, or bottom up
    scss: "flex/flexbox-direction.scss"
  - name: Flexbox wrap
    description: Wrap all flex items into a single, or multiple lines
    scss: "flex/flexbox-wrap.scss"
---


{% capture description %}
  <p>
    A flexible, responsive container.
  </p>
{% endcapture %}


{% capture example %}
  
{% endcapture %}



{% capture technical %}
  <p>
    Since Compass has no support yet for Flexbox there is a set of mixins created using 
    <a href="https://github.com/mastastealth/sass-flex-mixin/blob/master/flex.scss" title="SCSS Flexbox Mixins">SCSS Flexbox Mixins</a>
  </p>
  <ul>
    {% for related in page.related %}
      <li>{{ related.name }}</li>
    {% endfor %}
  </ul>
{% endcapture %}




{% include styleguide/sg-styleguide-entry.html description=description example=example technical=technical %}
