---
layout: styleguide
title: Fonts
order: b
category: atoms
scss: "fonts.scss"
items:
  - name: Source Sans Pro
    description: A subtle sans serif typeface for body text
    value: Source+Sans+Pro
    styles: "400,600"
    mixins:
      - name: Body
        font-family: sans-serif
        properties:
          - name: font-weight
            value: 400
      - name: Styleguide title
        font-family: sans-serif
        properties:
          - name: font-weight
            value: 600
          - name: font-size
            value: $heading-level-2
      - name: Styleguide item title
        font-family: sans-serif
        properties:
          - name: font-weight
            value: 600
          - name: font-size
            value: $heading-level-1
      - name: Styleguide item subtitle
        font-family: sans-serif
        properties:
          - name: font-weight
            value: 600
          - name: font-size
            value: 100%
---


{% capture description %}
  <p>
    A flexible, responsive container.
  </p>
{% endcapture %}


{% capture example %}
  
{% endcapture %}



{% capture technical %}
  <p>
    Since Compass has no support yet for Flexbox there is a set of mixins created using 
    <a href="https://github.com/mastastealth/sass-flex-mixin/blob/master/flex.scss" title="SCSS Flexbox Mixins">SCSS Flexbox Mixins</a>
  </p>
  <ul>
    {% for related in page.related %}
      <li>{{ related.name }}</li>
    {% endfor %}
  </ul>
{% endcapture %}




{% include styleguide/sg-styleguide-entry.html description=description example=example technical=technical %}
