---
layout: styleguide
title: Fonts
order: b
category: atoms
scss: "fonts.scss"
comments:
  - Served from Google Fonts
  - A list of all font families
  - Special font mixins
  - A list of all font mixins
fonts:
  - name: Source Sans Pro
    description: A subtle sans serif typeface for body text
    value: Source+Sans+Pro
    styles: "400,600"
    mixins:
      - name: Body
        font-family: sans-serif
        properties:
          - name: font-weight
            value: 400
      - name: Styleguide title
        font-family: sans-serif
        properties:
          - name: font-weight
            value: 600
          - name: font-size
            value: $heading-level-2
      - name: Styleguide item title
        font-family: sans-serif
        properties:
          - name: font-weight
            value: 600
          - name: font-size
            value: $heading-level-1
      - name: Styleguide item subtitle
        font-family: sans-serif
        properties:
          - name: font-weight
            value: 600
          - name: font-size
            value: 100%
  - name: Montserrat
    description: A strong sans serif typeface for headlines and navigation
    value: Montserrat
    styles: "400,700"
---

<section id="{% include site/atoms/classname.html title=page.title %}" class="styleguide-entry">
  <h3>{{ page.title }}</h3>
  
  <article class="description">
    <h3>Description</h3>
    
    <p>
      All fonts used by the site.
    </p>
  </article>
  
  
  <article class="example font-families">
    <h3>Example for font families</h3>
    
    {% include styleguide/molecules/sg-font-families.html %}
  </article>
  
  
  <article class="text">
    <h3>Usage</h3>
    
    <p>
      A font family is rarely used raw, as is by default. It is adapted to the site's needs. For example headlines are converted to uppercase with larger letter spacing; navigation text is made smaller or heavier.
    </p>
    
    <p>
      To maintain typographic consistency accross the site these transformations are recorded and reused all the time. 
    </p>
  </article>
  
  <article class="example font-mixins">
    <h3>Example for font mixins</h3>
    
    {% include styleguide/molecules/sg-font-mixins.html %}
  </article>
  
  <article class="text">
    <h3>Colors and fonts</h3>
    
    <p>
      Colors of this site were choosen to have maximum contrast for better viewability. 
    </p>
    <p>
      The following examples display all font and color combinations used on this site.
    </p>
  </article>
  
  
  <article class="example fonts-and-colors">
    <h3>Example for fonts and colors</h3>
    
    {% include styleguide/molecules/sg-font-colors.html %}
  </article>
  
  
  {% include styleguide/molecules/sg-code.html %}
</section>
