---
layout: styleguide
title: Fonts
order: b
category: atoms
scss: "fonts.scss"
items:
  - name: Source Sans Pro
    description: A subtle sans serif typeface for body text
    value: Source+Sans+Pro
    styles: "400,600"
    mixins:
      - name: Body
        font-family: sans-serif
        properties:
          - name: font-weight
            value: 400
      - name: Styleguide title
        font-family: sans-serif
        properties:
          - name: font-weight
            value: 600
          - name: font-size
            value: $heading-level-2
      - name: Styleguide item title
        font-family: sans-serif
        properties:
          - name: font-weight
            value: 600
          - name: font-size
            value: $heading-level-1
      - name: Styleguide item subtitle
        font-family: sans-serif
        properties:
          - name: font-weight
            value: 600
          - name: font-size
            value: 100%
---

<section id="{% include site/atoms/classname.html title=page.title %}" class="styleguide-entry">
  <h3>{{ page.title }}</h3>
  
  <article class="description">
    <h3>Description</h3>
    
    <p>
      All fonts used by the site.
    </p>
  </article>
  
  
  <article class="example font-families">
    <h3>Example for font families</h3>
    
    {% include styleguide/molecules/sg-font-families.html %}
  </article>
  
  
  {% include styleguide/molecules/sg-code.html %}
</section>
