---
layout: styleguide
title: HTML5 Outliner
category: atoms
scss: "html5-outliner.scss"
elements:
  - section
  - article
  - aside
  - nav
---


{% capture description %}
  <p>
    All HTML5 elements must outline well. Each major grouping element 
    {% for element in page.elements %}
      <code>{{ element }}</code>
    {% endfor %}
    has a title by default which is hidden on the user interface but visible for HTML5 outliner bots.
  </p>
{% endcapture %}


{% capture example %}
  
{% endcapture %}



{% capture technical %}
  <p>
    Since Compass has no support yet for Flexbox there is a set of mixins created using 
    <a href="https://github.com/mastastealth/sass-flex-mixin/blob/master/flex.scss" title="SCSS Flexbox Mixins">SCSS Flexbox Mixins</a>
  </p>
  <ul>
    {% for related in page.related %}
      <li>{{ related.name }}</li>
    {% endfor %}
  </ul>
{% endcapture %}




{% include styleguide/sg-styleguide-entry.html description=description example=example technical=technical %}
