---
layout: styleguide
title: Responsive Typography
category: atoms
scss: "responsive-typography.scss"
items:
  - name: "font-size-tablet"
    description: Font size for small screens
    value: "100%"
  - name: "font-size-laptop"
    description: Font size for laptops and normal desktop screens
    value: "100%"
  - name: "font-size-desktop"
    description: Font size for monitors and large screens
    value: "125%"
  - name: "line-height"
    description: 125% of the font size
    value: "1.25"
  - name: "lem"
    description: The line height in EM
    value: "1.25em"
---


{% capture description %}
  <p>
    RRRResponsive typography. 
  </p>
{% endcapture %}


{% capture example %}
  
{% endcapture %}



{% capture technical %}
  <p>
    Since Compass has no support yet for Flexbox there is a set of mixins created using 
    <a href="https://github.com/mastastealth/sass-flex-mixin/blob/master/flex.scss" title="SCSS Flexbox Mixins">SCSS Flexbox Mixins</a>
  </p>
  <ul>
    {% for related in page.related %}
      <li>{{ related.name }}</li>
    {% endfor %}
  </ul>
{% endcapture %}




{% include styleguide/sg-styleguide-entry.html description=description example=example technical=technical %}
