/* Styleguide specific entries
*/
/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* No files to import found in molecules/* */
/* No files to import found in organisms/* */
/* No files to import found in structures/* */
html body { font-size: 100%; line-height: 1.25; font-family: "PT Serif", serif; font-weight: 400; display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */ display: -ms-flexbox; /* TWEENER - IE 10 */ display: -webkit-flex; /* NEW - Chrome */ display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */ }
@media only screen and (max-width: 64em) { html body { font-size: 100%; } }
@media only screen and (min-width: 90em) { html body { font-size: 125%; } }
html body section > h3, html body article > h3, html body aside > h3, html body nav > h3 { display: none; }

html.styleguide body header, html.styleguide body main { -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; -webkit-order: 0; -ms-flex-order: 0; order: 0; -webkit-box-flex: 0; -webkit-flex-grow: 0; -moz-flex-grow: 0; -ms-flex-positive: 0; flex-grow: 0; -webkit-flex-shrink: 1; -moz-flex-shrink: 1; -ms-flex-negative: 1; flex-shrink: 1; -webkit-flex-basis: auto; -moz-flex-basis: auto; -ms-flex-preferred-size: auto; flex-basis: auto; -webkit-box-pack: auto; -ms-flex-pack: auto; -webkit-justify-content: auto; -moz-justify-content: auto; justify-content: auto; padding: 1.25em; }
html.styleguide body header { -webkit-flex-basis: 15em; -moz-flex-basis: 15em; -ms-flex-preferred-size: 15em; flex-basis: 15em; }
html.styleguide body main { -webkit-box-flex: 2; -webkit-flex-grow: 2; -moz-flex-grow: 2; -ms-flex-positive: 2; flex-grow: 2; }
@media only screen and (max-width: 64em) { html.styleguide body { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  html.styleguide body header { -webkit-flex-basis: 100%; -moz-flex-basis: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; } }
html.styleguide body header nav { display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */ display: -ms-flexbox; /* TWEENER - IE 10 */ display: -webkit-flex; /* NEW - Chrome */ display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */ -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
html.styleguide body header nav article { -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; -webkit-order: 0; -ms-flex-order: 0; order: 0; -webkit-box-flex: 0; -webkit-flex-grow: 0; -moz-flex-grow: 0; -ms-flex-positive: 0; flex-grow: 0; -webkit-flex-shrink: 1; -moz-flex-shrink: 1; -ms-flex-negative: 1; flex-shrink: 1; -webkit-flex-basis: 15em; -moz-flex-basis: 15em; -ms-flex-preferred-size: 15em; flex-basis: 15em; -webkit-box-pack: auto; -ms-flex-pack: auto; -webkit-justify-content: auto; -moz-justify-content: auto; justify-content: auto; margin-top: 1.25em; }
html.styleguide body header nav article > h3 { display: block; }
html.styleguide body main .styleguide-entry > h3 { display: block; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight table td { padding: 5px; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight table pre { margin: 0; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .gh { color: #999999; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .sr { color: #f6aa11; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .go { color: #888888; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .gp { color: #555555; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .gu { color: #aaaaaa; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .nb { color: #f6aa11; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .cm { color: #75715e; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .cp { color: #75715e; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .c1 { color: #75715e; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .cs { color: #75715e; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .c, html.styleguide body main .styleguide-entry article.code nav ul li .highlight .cd { color: #75715e; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .err { color: #960050; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .gr { color: #960050; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .gt { color: #960050; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .gd { color: #49483e; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .gi { color: #49483e; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .ge { color: #49483e; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .kc { color: #66d9ef; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .kd { color: #66d9ef; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .kr { color: #66d9ef; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .no { color: #66d9ef; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .kt { color: #66d9ef; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .mf { color: #ae81ff; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .mh { color: #ae81ff; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .il { color: #ae81ff; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .mi { color: #ae81ff; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .mo { color: #ae81ff; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .m, html.styleguide body main .styleguide-entry article.code nav ul li .highlight .mb, html.styleguide body main .styleguide-entry article.code nav ul li .highlight .mx { color: #ae81ff; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .sc { color: #ae81ff; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .se { color: #ae81ff; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .ss { color: #ae81ff; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .sd { color: #e6db74; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .s2 { color: #e6db74; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .sb { color: #e6db74; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .sh { color: #e6db74; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .si { color: #e6db74; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .sx { color: #e6db74; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .s1 { color: #e6db74; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .s { color: #e6db74; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .na { color: #a6e22e; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .nc { color: #a6e22e; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .nd { color: #a6e22e; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .ne { color: #a6e22e; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .nf { color: #a6e22e; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .vc { color: #ffffff; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .nn { color: #ffffff; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .nl { color: #ffffff; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .ni { color: #ffffff; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .bp { color: #ffffff; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .vg { color: #ffffff; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .vi { color: #ffffff; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .nv { color: #ffffff; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .w { color: #ffffff; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight { color: #ffffff; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .n, html.styleguide body main .styleguide-entry article.code nav ul li .highlight .py, html.styleguide body main .styleguide-entry article.code nav ul li .highlight .nx { color: #ffffff; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .ow { color: #f92672; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .nt { color: #f92672; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .k, html.styleguide body main .styleguide-entry article.code nav ul li .highlight .kv { color: #f92672; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .kn { color: #f92672; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .kp { color: #f92672; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight .o { color: #f92672; }
html.styleguide body main .styleguide-entry article.code nav ul li .highlight { background: black; color: white; font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: smaller; }
