@mixin sg-entry-colors {
  .example {
    section {
      @include flexbox($wrap: wrap);
      
      article {
        @include hide-title;
        @include flex-item;
        @include flexbox;
        padding-right: $lem;
        
        figure {
          @include flex-item;
          background: red;
          min-width: $lem * 5; // simple 'width' doesn't works on mobiles
        }
        
        aside {
          @include flex-item;
          @include flexbox($direction: column);
          
          p {
            @include flex-item;
            padding: 0 $lem $lem;
            
            &:last-of-type {
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
}