// Heading levels
// - based on lamb.cc/typograph using Le Corbuisier ratios
// - the even sizes are Fibonacci numbers, the odd size are an in between ratio
$heading-level-1: 1.3077em;
$heading-level-2: 1.6154em;
$heading-level-3: 2.1154em;
$heading-level-4: 2.6154em;
$heading-level-5: 3.4231em;
$heading-level-6: 4.2308em;
$heading-level-7: 5.5385em;
$heading-level-8: 6.8462em;